body{
  background: #99ccff;}
.centr{
  text-align: center;}

.carousel-item{
  height: 20rem;
  background: #777;}

.form-signin{
  max-width: 500px;
  margin: 0 auto;
  color: black;
  padding: 15px 40px 20px 20px;
  border-radius: 5px;}

p{
  font-family: 'Roboto', 'Akshar', "Arial","Helvetica", sans-serif;
}

.figcaption{
  font-family: 'EB Garamond', 'Roboto Slab', "Times New Roman", "Georgia", serif;
}
  
h1, h2,h3{
  font-family: 'Anton', 'Akshar', "Arial", "Helvetica", sans-serif;
}

aside > p{
  font-family: 'EB Garamond', 'Roboto Slab', "Times New Roman", "Georgia", serif;
}

 p,h1,h2,h3,figcaption,a,th,td{
  max-width: 60ch;
}

@media(max-width: 767px){
  .centr{
    margin-top: 2rem;
  }
  .size-img{
    width: 200px;
  }}
