.centr{
  text-align: center;}

.carousel-item{
  height: 20rem;
  background: #777;}

body{
	background: #ADD8E6;
}

.form-signin{
  max-width: 450px;
  margin: 0 auto;
  background: #eee;
  color: black;
  padding: 15px 40px 20px 20px;
  border-radius: 5px;}

@media(max-width: 767px){
  .centr{
    margin-top: 2rem;
  }
  .size-img{
    width: 200px;
  }}
